# https://bazel.build/reference/command-line-reference

import %workspace%/bazel/bazelrc/preset.bazelrc
import %workspace%/bazel/bazelrc/cache.bazelrc
import %workspace%/bazel/bazelrc/profile.bazelrc

# https://bazel.build/docs/user-manual#workspace_status
# common:stamp --stamp --workspace_status_command=stamp/buildinfo.sh

# Load extra bazel settings if any.
try-import %workspace%/bazel/bazelrc/user.bazelrc
