name: Cargo

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cargo:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
        profile:
          - release

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/git
            ~/.cargo/registry
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('/Cargo.lock') }}

      - name: Lint
        run: cargo clippy --profile ${{ matrix.profile }} --all-targets --all-features

      - name: Format
        run: cargo +nightly fmt --all --check

      - name: Check
        run: cargo check --profile ${{ matrix.profile }}

      - name: Build
        run: cargo build --profile ${{ matrix.profile }}

      - name: Test
        run: cargo test --profile ${{ matrix.profile }}
