name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: cargo fmt
        run: cargo fmt --all --check

  testing:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
        profile:
          - release
    runs-on: ${{ matrix.os }}
    env:
      RUSTFLAGS: "-Dwarnings"
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
        with:
          # The prefix cache key, this can be changed to start a new cache manually.
          prefix-key: "syx-v0"
          # To only cache release builds from `main`.
          save-if: ${{ github.ref == 'refs/heads/main' && matrix.profile == 'release' }}
      - name: Print info
        run: cargo dev info
      - name: Run clippy
        run: cargo clippy --profile ${{ matrix.profile }} --no-deps --all-targets --all-features
      - name: Run build
        run: cargo build --profile ${{ matrix.profile }} --workspace
      - name: Run test
        run: cargo test --profile ${{ matrix.profile }} --workspace
  bazel:
    strategy:
      matrix:
        os:
          - ubuntu-24.04

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Restore bazel cache
        uses: actions/cache/restore@v5
        id: restore-bazel-cache
        env:
          cache-name: bazel-cache
        with:
          path: |
            ~/.cache/bazel
            ~/.cache/bazelisk
          key: ${{ matrix.os }}-${{ env.cache-name }}-${{ github.sha }}
          restore-keys: ${{ matrix.os }}-${{ env.cache-name }}-

      - name: Build
        run: bazel build --config=ci //...

      - name: Test
        run: bazel test --config=ci //...

      # TODO: Test fuzzing targets
      # - name: Fuzz
      #   run: bazel build --config=fuzzing //...

      - uses: actions/cache/save@v5
        if: github.ref == 'refs/heads/main'
        with:
          path: |
            ~/.cache/bazel
            ~/.cache/bazelisk
          key: ${{ steps.restore-bazel-cache.outputs.cache-primary-key }}
