name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: cargo fmt
        run: cargo fmt --all --check

  testing:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
        profile:
          - release
    runs-on: ${{ matrix.os }}
    env:
      RUSTFLAGS: "-Dwarnings"
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
        with:
          # The prefix cache key, this can be changed to start a new cache manually.
          prefix-key: "syx-v0"
          # To only cache release builds from `main`.
          save-if: ${{ github.ref == 'refs/heads/main' && matrix.profile == 'release' }}
      - name: Run clippy
        run: cargo clippy --profile ${{ matrix.profile }} --no-deps --all-targets --all-features
      - name: Run build
        run: cargo build --profile ${{ matrix.profile }} --workspace
      - name: Run test
        run: cargo test --profile ${{ matrix.profile }} --workspace
      - name: Print build info
        run: cargo run --profile ${{ matrix.profile }} --bin buildinfo
